<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/static/test.js"></script>
    <script language="JavaScript">


        function test(){
            $.ajax({
                url: '/',
                type: 'GET',
                data: {
                    name: 'test'
                },
                success:function(data){
                    console.log("succ")
                }
            })

            $.ajax({
                url: '/',
                type: 'GET',
                data: {
                    name: 'test'
                },
                success:function(data){
                    console.log("succ")
                }
            })

            $.ajax({
                url: '/',
                type: 'GET',
                data: {
                    name: 'test'
                },
                success:function(data){
                    console.log("succ")
                }
            })

            $.ajax({
                url: '/',
                type: 'GET',
                data: {
                    name: 'test'
                },
                success:function(data){
                    console.log("succ")
                }
            })

            $.ajax({
                url: '/',
                type: 'GET',
                data: {
                    name: 'test'
                },
                success:function(data){
                    console.log("succ")
                }
            })

            $.ajax({
                url: '/',
                type: 'GET',
                data: {
                    name: 'test'
                },
                success:function(data){
                    console.log("succ")
                }
            })

        }
    </script>
</head>

<body>
<span onclick="parallelApiCall()">Click me</span>
</body>
</html>